<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Teacher</title>
</head>
<body>
    <div th:if="${errorMessage}" class="error">
        <p th:text="${errorMessage}"></p>
    </div>

    <form action="@{/school/teachers/insert}" th:object="${teacherInsertDTO}" method="post">

        <!--  First Name Field  -->
        <label for="firstname">First Name </label>
        <input type="text" id="firstname" th:field="*{firstname}"
               th:classappend="${#fields.hasErrors('firstname')} ? 'error'"> <!--If has error append the class error-->
        <div th:if="${#fields.hasErrors('firstname')}">
            <p th:errors="*{firstname}"></p>
        </div>

        <!--    Last Name Field    -->
        <label for="lastname">Last Name </label>
        <input type="text" id="lastname" th:field="*{lastname}"
               th:classappend="${#fields.hasErrors('lastname')} ? 'error'"> <!--If has error append the class error-->
        <div th:if="${#fields.hasErrors('lastname')}">
            <p th:errors="*{lastname}"></p>
        </div>

        <!--    VAT Field    -->
        <label for="vat">VAT </label>
        <input type="text" id="vat" th:field="*{vat}"
               th:classappend="${#fields.hasErrors('vat')} ? 'error'"> <!--If has error append the class error-->
        <div th:if="${#fields.hasErrors('vat')}">
            <p th:errors="*{vat}"></p>
        </div>

        <!--    Region ComboBox    -->
        <label for="region">Region </label>
        <select name="" id="region" th:field="*{regionId}">
            <option value="" selected>Select Region</option>
            <option th:each="region : ${regions}" th:value="${region.id}" th:text="${regions.name}"></option>
        </select>
        <button type="submit">Save Teacher</button>
    </form>
</body>
</html>